*{
    margin: 0;
    padding: 0;

}

.logo{
    display: flex;
    padding: 20px 100px;


}

.navlist{
    list-style: none;


}
.navlist ul{
    text-decoration: none;
    list-style: none;
}
.navlist li{
    display: inline;
    padding: 1px 19px 1px 1px;
}

.left{
    display: flex;
    box-sizing: border-box;
    padding-inline-start: unset;
    margin-top: 6px;
    padding: 0px 100px;
    font-size: 1.3rem;
    color:#8292B4;

}
.Right{
   display: flex;

}
.button{
    display: flex;
    
}
.Login{
    padding: 9px 15px;
    color: #0650f0;
    border-radius: 50px;
    margin: 0px 17px -1px 139px;
    border-color: #88ADFF;
    font-size: 1rem;
    background-color: white;

}

.Resigter{
    padding: 0px 12px;
    border-radius: 100px;
    background: #FF7555;
    color: white;
    border-color: #FF7555;
    font-size: 1rem;
    
}
.list{
    position: relative;
  display: inline-block;
}
.dropbtn {
    color: #8292B4;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #f1f1f1}

.list:hover .dropdown-content {
    display: block;
  }
