*{
    margin: 0;
    padding: 0;

}

.logo{
    display: flex;
    padding: 9px 100px;


}

.navlist{
    list-style: none;


}
.navlist ul{
    text-decoration: none;
    list-style: none;
}
.navlist li{
    display: inline;
    margin: 0 10px;
}

.left{
    display: flex;
    padding:6px 32px 13px 56px;
    font-size: 1.3rem;
    color:#8292B4;
    text-decoration: none;
    

}

.Login{
    padding: 7px 14px;
    color: #0650f0;
    border-radius: 50px;
    margin: 3px 16px 5px 134px;
    border-color: #88ADFF;
    font-size: 1rem;
    background-color: white;

}

.Resigter{
    padding: 7px 12px;
    border-radius: 50px;
    background: #FF7555;
    color: white;
    border-color: #FF7555;
    font-size: 1rem;
    border: none;
    outline: none;       
    
}
.list{
    position: relative;
   
}
.dropbtn {
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 11px 29px;
    background-color: white;

  }
  
.dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #f1f1f1}

.list:hover .dropdown-content {
    display: block;
  }
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 30px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;

}

.submenu{
    display: none;
    position: absolute;
    top: 25px;
    box-shadow: 0px 4px 10px rgb(0 77 255 / 30%);
    left:0;
    border-radius: 16px 6px;
    padding: 44px 0px 40px 45px;
    
}
.left ul li{
    position: relative;
    
    
}
.left ul li a{
    text-decoration: none;
    color: #8292B4;

}
.left ul li:hover .submenu{
    display: block;
    
}
.left ul li::after{
    position: relative;
    
}
.submenu ul li a{
    white-space: nowrap;
    text-decoration: none;
    color: #8292B4;
  
}
.submenubox{
    display: flex;
    flex-wrap: nowrap;
}
.borderright{
    border-right: 1px solid grey;
    
}
.marginleft25{
    margin-left: 25px;

}
.left>ul>li::after{
    content: '';
    height: 3px;
    background: #FF7555;
    position: absolute;
    left: -8px;
    bottom: -5px;
    transition: 0.5s;
}
.left>ul>li:hover::after{
    width: 100%;
}
