*{
    margin: 0;
    padding: 0;

}

.logo{
    display: flex;
    padding: 9px 100px;


}

.navlist{
    list-style: none;


}
.navlist ul{
    text-decoration: none;
    list-style: none;
}
.navlist li{
    display: inline;
    padding: 1px 19px 1px 1px;
}

.left{
    display: flex;
    padding:6px 32px 13px 56px;
    font-size: 1.3rem;
    color:#8292B4;

}
.Right{
   display: flex;

}
.button{
    display: flex;
    
}
.Login{
    padding: 9px 15px;
    color: #0650f0;
    border-radius: 50px;
    margin: 3px 16px 5px 134px;
    border-color: #88ADFF;
    font-size: 1rem;
    background-color: white;

}

.Resigter{
    padding: 0px 12px;
    border-radius: 100px;
    background: #FF7555;
    color: white;
    border-color: #FF7555;
    font-size: 1rem;
    
}
.list{
    position: relative;
  display: inline-block;
}
.dropbtn {
    color: #8292B4;
    padding: 16px;
    font-size:20px;
    border: none;
    cursor: pointer;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #f1f1f1}

.list:hover .dropdown-content {
    display: block;
  }
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;

}
