*{
    margin: 0;
    padding: 0;

}

.logo{
    display: flex;
    padding: 30px 100px;


}

.navlist{
    list-style: none;

}
.navlist ul{
    text-decoration: none;
    list-style: none;
}
.navlist li{
    display: inline;
    padding: 1px 19px 1px 1px;
}

.left{
    display: flex;
    padding: 7px 20px 25px 66px;
    font-size: 1.4rem;
    color: #8292B4;;

}
.Right{
    text-align: right;
    width: 50%;

}
.button{
    display: flex;
    
}
.Login{
    padding: 9px 15px;
    color: #0650f0;
    border-radius: 50px;
    margin: 4px 22px 0px 143px;
    border-color: #88ADFF;
    font-size: 1rem;
    background-color: white;

}

.Resigter{
    padding: 9px 15px;
    border-radius: 100px;
    background: #FF7555;
    color: white;
    border-color: #FF7555;
    
}